USE [KhachSan]
GO
/****** Object:  Table [dbo].[ChiTietDV]    Script Date: 5/3/2023 3:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDV](
	[MaHDDV] [int] NULL,
	[MaDV] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[NgayGioDat] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 5/3/2023 3:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonDV]    Script Date: 5/3/2023 3:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonDV](
	[MaHDDV] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[NgayGioLap] [datetime] NULL,
	[TinhTrang] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDonPhong]    Script Date: 5/3/2023 3:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonPhong](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaPhong] [nvarchar](100) NOT NULL,
	[TinhTrang] [int] NOT NULL,
	[NgayGioNhan] [datetime] NOT NULL,
	[NgayGioTra] [datetime] NULL,
 CONSTRAINT [PK__HoaDonPh__2725A6E07F6393E6] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/3/2023 3:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[CMND] [varchar](50) NOT NULL,
	[NgayHetHan] [datetime] NOT NULL,
	[LoaiKH] [nvarchar](100) NULL,
	[SoLanDatPhong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 5/3/2023 3:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiPhong] [nvarchar](100) NOT NULL,
	[DonGia] [decimal](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 5/3/2023 3:52:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [nvarchar](100) NOT NULL,
	[SucChua] [int] NULL,
	[SoGiuong] [int] NULL,
	[ViTri] [nvarchar](100) NULL,
	[TinhTrang] [int] NULL,
	[MaLoaiPhong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChiTietDV] ADD  CONSTRAINT [DF__ChiTietDV__SoLuo__3D5E1FD2]  DEFAULT ((1)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[ChiTietDV] ADD  CONSTRAINT [DF__ChiTietDV__NgayG__3E52440B]  DEFAULT (getdate()) FOR [NgayGioDat]
GO
ALTER TABLE [dbo].[DichVu] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[HoaDonDV] ADD  DEFAULT (getdate()) FOR [NgayGioLap]
GO
ALTER TABLE [dbo].[HoaDonPhong] ADD  CONSTRAINT [DF__HoaDonPho__NgayG__4316F928]  DEFAULT (getdate()) FOR [NgayGioNhan]
GO
ALTER TABLE [dbo].[KhachHang] ADD  DEFAULT ((0)) FOR [SoLanDatPhong]
GO
ALTER TABLE [dbo].[LoaiPhong] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((1)) FOR [SucChua]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((1)) FOR [SoGiuong]
GO
ALTER TABLE [dbo].[Phong] ADD  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[ChiTietDV]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDV__MaDV__3B75D760] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDV] CHECK CONSTRAINT [FK__ChiTietDV__MaDV__3B75D760]
GO
ALTER TABLE [dbo].[ChiTietDV]  WITH CHECK ADD  CONSTRAINT [FK__ChiTietDV__MaHDD__3A81B327] FOREIGN KEY([MaHDDV])
REFERENCES [dbo].[HoaDonDV] ([MaHDDV])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ChiTietDV] CHECK CONSTRAINT [FK__ChiTietDV__MaHDD__3A81B327]
GO
ALTER TABLE [dbo].[HoaDonDV]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonPhong]  WITH CHECK ADD  CONSTRAINT [FK__HoaDonPho__MaPho__4222D4EF] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonPhong] CHECK CONSTRAINT [FK__HoaDonPho__MaPho__4222D4EF]
GO
ALTER TABLE [dbo].[HoaDonPhong]  WITH CHECK ADD  CONSTRAINT [FK__HoaDonPhon__MaKH__412EB0B6] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonPhong] CHECK CONSTRAINT [FK__HoaDonPhon__MaKH__412EB0B6]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD  CONSTRAINT [FK__Phong__MaLoaiPho__34C8D9D1] FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Phong] CHECK CONSTRAINT [FK__Phong__MaLoaiPho__34C8D9D1]
GO
ALTER TABLE [dbo].[ChiTietDV]  WITH CHECK ADD  CONSTRAINT [CK__ChiTietDV__SoLuo__3C69FB99] CHECK  (([Soluong]>=(1)))
GO
ALTER TABLE [dbo].[ChiTietDV] CHECK CONSTRAINT [CK__ChiTietDV__SoLuo__3C69FB99]
GO
ALTER TABLE [dbo].[DichVu]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([SoLanDatPhong]>=(0)))
GO
ALTER TABLE [dbo].[LoaiPhong]  WITH CHECK ADD CHECK  (([DonGia]>=(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([SoGiuong]>(0)))
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD CHECK  (([SucChua]>(0)))
GO
